{% extends 'blog/base.html' %}

{% load static %}


{% block title %}
  Django blog | About
{% endblock title %}


{% block content %}

<div class="clearfix content">
    <div class="content_title"><h2>About us</h2></div>
    <div class="single_work_page clearfix">
        <div class="work_single_page_feature"><img src="{% static 'images/slider-img.png'%}"/></div>
        <div class="work_meta clearfix">
        </div>
        <div class="single_work_page_content">
            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
            Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad 
            litora torquent per conubia nostra, per inceptos Sed non mauris vitae erat consequat 
            auctor eu in elit. Class aptent taciti sociosqu</p>
            <br/>
            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
            Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad 
            litora torquent per conubia nostra, per inceptos Sed non mauris vitae erat consequat 
            auctor eu in elit. Class aptent taciti sociosqu</p>
            <br/>
            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
            Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad 
            litora torquent per conubia nostra, per inceptos Sed non mauris vitae erat consequat 
            auctor eu in elit. Class aptent taciti sociosqu</p>								
            <br/>
        </div>
        
    </div>
        <div class="more_works">
            <h2>More Works you may like <i class="fa fa-thumbs-o-up"></i></h2>
            <div class="more_works_container">
                <div class="single_more_works floatleft">
                    <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
                    <a href=""><h2>Magazine Wp Template</h2></a>
                </div>
                <div class="single_more_works floatleft">
                    <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
                    <a href=""><h2>Magazine Wp Template</h2></a>
                </div>
                <div class="single_more_works floatleft">
                    <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
                    <a href=""><h2>Magazine Wp Template</h2></a>
                </div>

            </div>
        </div>
</div>
  
{% endblock content %}
