{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
  Django blog | {{group_title|title}} group
{% endblock title %}


{% block content %}
<div class="clearfix content">
    <div class="content_title">
        
        {% if articles %}
            <h2> {{articles.count}} post found for " {{group_title}} " group </h2>
        {% else %}
            <h2>Nothing found for " {{group_title}} "</h2>
        {% endif %}
            
    </div>

    {% for article in articles  %}
    <div class="clearfix single_content">
        <div class="clearfix post_date floatleft">
            <div class="date">
                <h3>{{article.created|date:"d"}}</h3>
                <p>{{article.created|date:"F"}}</p>
            </div>
        </div>
        <div class="clearfix post_detail">
            <h2><a href="/article{{article.id}}/{{article.title}}">{{article.title}}</a></h2>
            <div class="clearfix post-meta">
                <p><span><i class="fa fa-user"></i> {{article.author}} </span> <span><i class="fa fa-clock-o"></i> {{article.created|date}}</span>
                     <span><i class="fa fa-folder"></i>
                        {{article.group}}</span></p>
            </div>
            <div class="clearfix post_excerpt">
                <img src="media/{{article.images}}" alt="" />
                <p> {{article.content}} </p>
            </div>
            <a href="/article{{article.id}}/{{article.title}}">Continue Reading</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <nav>
        <ul>
            <li><a href="">
                    << </a>
            </li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href=""> >> </a></li>
        </ul>
    </nav>
</div>
{% endblock content %}