{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
  Django blog | Index
{% endblock title %}

{% block content %}
<div class="clearfix slider">
    <ul class="pgwSlider">
        {% for article in articles %}

        {% if article.show_slider %}
        <li><img src="/media/{{article.images}}" alt="{{article.title}}" data-description="{{article.title}}"
                data-large-src="/media/{{article.images}}" /></li>
        {% endif %}

        {% endfor %}


    </ul>
</div>
<div class="clearfix content">
    <div class="content_title">
        <h2>Latest Blog Post</h2>
    </div>

    {% for article in articles %}
    <div class="clearfix single_content">
        <div class="clearfix post_date floatleft">
            <div class="date">
                <h3>{{article.created|date:"d"}}</h3>
                <p>{{article.created|date:"F"}}</p>
            </div>
        </div>
        <div class="clearfix post_detail">
            <h2><a href="/article{{article.id}}/{{article.slug}}">{{article.title}}</a></h2>
            <div class="clearfix post-meta">
                <p><span><i class="fa fa-user"></i> {{article.author}} </span> <span><i class="fa fa-clock-o"></i>
                        {{article.created|date}}</span>
                    <span><i class="fa fa-folder"></i>
                        {{article.group}}</span>
                </p>
            </div>
            <div class="clearfix post_excerpt">
                <img src="media/{{article.images}}" alt="{{article.title}}" />
                <p> {{article.content}} </p>
            </div>
            <a href="/article{{article.id}}/{{article.title}}">Continue Reading</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include "blog/paginator.html" with page=articles %}
{% endblock content %}